<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <title>ログイン</title>
</head>
<body class="text-center">
    <h1>Login</h1>
    <form method="post" th:action="@{/admin/signin}" th:object="${adminUserForm}">
		
		<div th:if="${param.error}" class="text-danger">
		    <p>ユーザー名またはパスワードが間違っています。</p>
		</div>
		
        <label>メールアドレス</label>
        <input type="text" th:field="*{email}" /><br/>
        <br />
        <label>パスワード</label>
        <input type="password" th:field="*{password}" /><br/>
        <br />
        <button class="btn btn-primary" type="submit">ログイン</button>
    </form>
    <br />
    <a th:href="@{/admin/signup}">新規登録はこちら</a>
</body>
</html>